<div class="row">
    <div class="col-md-22 col-md-22 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h4 class="pageheader-title">Menú Principal</h4>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
           
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="ecommerce-widget">

    <div class="row">
        <div class="container">
            <img src="assets/images/padreMolina0.jpg" alt="user" width="100%" height="80%">            
        </div>
    </div>

    <h4 class="pageheader-title" style="color:black; text-align: center; padding: 10px; font-size: 20px;">
        Campos de Acción
    </h4>
    <hr>
    
        <div class="row centerrow">
            <div class="container">
                <div class="container p-0">
                    <div class="grid-container" >
                        <div class="grid-item1"><img src="assets/images/Educacion-1-768x512.jpg" alt="user" class="rounded" width="100%"height= "100%">
                            <div class="card border-3 border-top border-top-primary box17">                
                                    <h4 class="text-muted" font-weight-bold style="color: #30a2ee !important;">EDUCACIÓN</h4>
                                    <div class="metric-value d-inline-block">  
                                        <h5 class="mb-1" >U.E. Nuestra Señora del Encuentro <br>- Petare</h5>
                                        <h5 class="mb-1">U.E. María Virgen Misionera <br>- Centrar Tacarigua</h5>

                                    </div>
                                    
                            </div>
                        </div>
                        <div class="grid-item2"><img src="assets/images/Emprendimiento-1-768x512.jpg" alt="user" class="rounded" width="100%"height= "100%">
                            <div class="card border-3 border-top border-top-primary box17">
                                    <h4 class="text-muted" style="color: #30a2ee !important;">EMPRENDIMIENTO</h4>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">1245</h5>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                    </div>
                            </div>
                        </div>
                        <div class="grid-item3"> <img src="assets/images/Nutricion-1-768x512.jpg" alt="user" class="rounded" width="100%"height= "100%">
                            <div class="card border-3 border-top border-top-primary box17">
                                <div class="container">
                                    <h4 class="text-muted" style="color: #30a2ee !important;">NUTRICIÓN</h4>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">13000</h5>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item4">
                            <img src="assets/images/Provida-1-768x512.jpg" alt="user" class="rounded" width="100%"height= "100%">
                            <div class="card border-3 border-top border-top-primary box17">
                                    <h4 class="text-muted" style="color: #30a2ee !important;">ACCIÓN PROVIDA</h4>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">1340</h5>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                    </div>
                            </div>
                        </div>
                        <div class="grid-item5">
                            <img src="assets/images/salud.jpg" alt="user" class="rounded" width="100%" height= "100%">
                            <div class="card border-3 border-top border-top-primary box17">
                                    <h4 class="text-muted" style="color: #30a2ee !important;">SALUD</h4>
                                    <div class="metric-value d-inline-block">
                                        <h5 class="mb-1">1340</h5>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                    </div>
                            
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <br><br><br>
        <div class="row">
            <!-- ============================================================== -->
      
            <!-- ============================================================== -->
    
                          <!-- recent orders  -->
            <!-- ============================================================== -->
            <div class="container">
                <div class="card">
                    <h4 class="card-header" style="color: #30a2ee !important;">Directorio</h4>
                    <div class="container p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Centro</th>
                                        <th class="border-0">Dirección</th>
                                        <th class="border-0">Encargado</th>
                                        <th class="border-0">Telefonos</th>
                                        <th class="border-0">Email</th>                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #1 </td>
                                        <td>id000001 </td>
                                        <td>20</td>                        
                                        <td>Patricia J. King </td>
                                        <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-2.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #2 </td>
                                        <td>id000002 </td>
                                        <td>12</td>                            
                                        <td>Rachel J. Wicker </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-3.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #3 </td>
                                        <td>id000003 </td>
                                        <td>23</td>                                  
                                        <td>Michael K. Ledford </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <div class="m-r-10"><img src="assets/images/product-pic-4.jpg" alt="user" class="rounded" width="45"></div>
                                        </td>
                                        <td>Product #4 </td>
                                        <td>id000004 </td>
                                        <td>34</td>                                   
                                        <td>Michael K. Ledford </td>
                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                    </tr>                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- ============================================================== -->
            <!-- end recent orders  -->
            <hr> 
</div>
          
<h5 class="card-header "> Sales By Social Source</h5>

        <div class="row">
            <div class="container centeredes">
                <!-- ============================================================== -->
                <!-- social source  -->
                <!-- ============================================================== -->
                            <a href="#"><span class="social-sales-icon-circle facebook-bgcolor mr-2"><i class="fab fa-facebook-f"></i></span><span class="social-sales-name">Facebook</span></a>
                            <a href="#" ><span class="social-sales-icon-circle twitter-bgcolor mr-2"><i class="fab fa-twitter"></i></span><span class="social-sales-name">Twitter</span></a>
                            <a href="#" ><span class="social-sales-icon-circle instagram-bgcolor mr-2"><i class="fab fa-instagram"></i></span><span class="social-sales-name">Instagram</span></a>
                            <a href="#"  ><span class="social-sales-icon-circle pinterest-bgcolor mr-2"><i class="fab fa-pinterest-p"></i></span><span class="social-sales-name">Pinterest</span></a>
                            <a href="#"  ><span class="social-sales-icon-circle googleplus-bgcolor mr-2"><i class="fab fa-google-plus-g"></i></span><span class="social-sales-name">Google Plus</span></a>
                  
                <!-- ============================================================== -->
                <!-- end social source  -->
                <!-- ============================================================== -->
            </div>
            
        </div>
    

        
       
