<div class="grid-container">
    <div class="grid-item1"><img src="assets/images/Educacion-1-768x512.jpg" alt="user" class="rounded" width="90%" height= "90px" >
        <div class="card border-3 border-top border-top-primary box07">                
                <h4 class="text-muted" font-weight-bold style="color: #30a2ee !important;">EDUCACIÓN</h4>
                <div class="metric-value d-inline-block" style="max-width: 90%%;">  
                    <h5 class="mb-1" ><p>U.E. Nuestra Señora del Encuentro <br>- Petare</p></h5>
                    <h5 class="mb-1">U.E. María Virgen Misionera <br>- Centrar Tacarigua</h5>
                </div>
                
        </div>
    </div>
    <div class="grid-item2"><img src="assets/images/Emprendimiento-1-768x512.jpg" alt="user" class="rounded" width="90%">
        <div class="card border-3 border-top border-top-primary box17">
                <h4 class="text-muted" style="color: #30a2ee !important;">EMPRENDIMIENTO</h4>
                <div class="metric-value d-inline-block">
                    <h5 class="mb-1">1245</h5>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                </div>
        </div>
    </div>
    <div class="grid-item3"> <img src="assets/images/Nutricion-1-768x512.jpg" alt="user" class="rounded" width="90%">
        <div class="card border-3 border-top border-top-primary box17">
            <div class="container">
                <h4 class="text-muted" style="color: #30a2ee !important;">NUTRICIÓN</h4>
                <div class="metric-value d-inline-block">
                    <h5 class="mb-1">13000</h5>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5%</span>
                </div>
            </div>
        </div></div>
    <div class="grid-item4">
        <img src="assets/images/Provida-1-768x512.jpg" alt="user" class="rounded" width="90%">
        <div class="card border-3 border-top border-top-primary box17">
                <h4 class="text-muted" style="color: #30a2ee !important;">ACCIÓN PROVIDA</h4>
                <div class="metric-value d-inline-block">
                    <h5 class="mb-1">1340</h5>
                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                </div>
        </div>
    </div>
    <div class="grid-item5">
        <img src="assets/images/salud.jpg" alt="user" class="rounded" width="90%" height= "90px">
        <div class="card border-3 border-top border-top-primary box17">
                <h4 class="text-muted" style="color: #30a2ee !important;">SALUD</h4>
                <div class="metric-value d-inline-block">
                    <h5 class="mb-1">1340</h5>
                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                </div>
           
        </div>
    </div>
    
  </div>