 
<div class="dashboard-main-wrapper">

    <app-navbar></app-navbar>
    <app-leftsidebar></app-leftsidebar>
    <!--#<app-content>
        
    </app-content>-->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->        
        <router-outlet></router-outlet>
    
    <app-footer></app-footer>
    
    </div>
    </div>
</div>
 
  
